<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book</h1>
    <a href="/logout">Logout</a><br>
    <a href="/add">New Book</a>
    <table class="table table-hover">
        <thead>
            <th>Tiêu đề</th>
            <th>Tác giả</th>
            <th>Nhà xuất bản</th>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.author}}</td>
                <td>{{this.publisher}}</td>
            </tr>
            {{/each}}
    
        </tbody>
    </table>
</body>
</html>